body {
    background-color: brown;
    font-family: "Lucida Console", "Times New Roman";
    font-size: 14px;
    color: white;
}

.head {
    text-align: center;
    font-size: 26px;
}

#playButton {
    text-align: center;
    width: 240px;
    height: 70px;
    font-size: 50px;
    background-color: orange;
    color: white;
}

#myCanvas {
    background-size: 100%;
    border: 5px solid white;
}

.Score {
    font-size: 18px;
}