body {
    background-color: brown;
    font-family: "Lucida Console", "Times New Roman";
    font-size: 24px;
    color: white;
}

.head {
    text-align: center;
}

#howto {
    font-size: 14px;
}

#playButton {
    text-align: center;
    width: 250px;
    height: 80px;
    font-size: 50px;
    background-color: orange;
    color: white;
}